# Pasta de teste
frontend/

# Dependências
node_modules/

# Código compilado
dist/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Variáveis de Ambiente
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
/src/generated/prisma
